:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {

}

#centeredContainer {
  margin: 0 auto;
  max-width: 720px;
  width: 90%;
}

.chat {
  margin-top: 3rem;

}

.chatDisplay {
  height: 60vh;
  overflow-y: scroll;
}

.styledContainer {
  
}

.userInputField {

}

.userInputField textarea {
  width: 100%;
  resize: none;
}

.message:nth-child(even){
  background-color: rgb(223, 223, 223);

}

#flagIcon {
  width: 30px;
  overflow: hidden;
  border-radius:50% ;
}